.film-card {
    border: none;
    overflow: hidden;
    border-radius: 12px;
    background: #20283ECC;
    padding: 15px;
}

.film-card__header {
    align-items: center;
}

.film-card__poster {
    position: relative;
    width: 266px;
    height: 380px;
}

.film-card__score {
    position: absolute;
    top: 10px;
    display: flex;
    color: #FFAD49;
    background-color: #000000A6;

    width: 65px;
    height: 32px;
    opacity: 1;
    border-radius: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.film-card__score__icon {
    width: 15px;
    height: 15px;
    padding: 6px 6px;
}

.film-card__footer__name {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #EBEEF5;
    padding: 8px;
}

.film-card__footer {
    padding: 10px;
}

.film-card__footer__favorite {
    position: relative;
    padding: 10px;
}

.film-card__footer__icon {
    position: absolute;
    top: 5px;
}

.film-card__footer__text {
    position: absolute;
    top: 5px;
    left: 45px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #7B6EF6;
}

.favorite {
    color: #37D8A7;
}