.film-card {
    border: none;
    overflow: hidden;
    border-radius: 12px;
    background: #20283ECC;
    padding: 15px;
}

.film-card__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.film-card__poster {
    width: 266px;
    height: 380px;
}

.film-card__score {
    position: absolute;
    top: 10px;
    left: 15px;
}

.film-card__footer__name {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #EBEEF5;
    padding: 8px;

    width: 250px;
    /* 1. Requires a fixed width or max-width */
    white-space: nowrap;
    /* 2. Prevents the text from wrapping to a new line */
    overflow: hidden;
    /* 3. Hides the text that goes past the width */
    text-overflow: ellipsis;
    /* 4. Adds the "..." at the end */
}

.film-card__footer {
    padding: 5px;
}