.input {
    display: flex;
    border: solid;
    border-radius: 12px;
    align-items: center;
    min-width: 390px;
    height: 65px;
    background: #0000001A;
}

.input ::placeholder {
    text-align: left;
}

.input__front-icon {
    width: 21px;
    height: 21px;
    padding: 8px;
}

.input__input {
    border: none;
    text-align: left;
    padding: 8px;
    background: #0000001A;
    color: #FFFF;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}