.menu-layout {
    display: flex;
    padding: 16px;
    height: 40px;
    justify-content: space-between;
}

.menu-layout__front-icon {
    width: 30px;
    height: 33px;
}

.menu-layout__content {
    display: flex;
    gap: 30px;
    align-items: center;
}