.menu-layout {
    padding: 16px;
    height: 40px;
    width: 100%;
}

.menu-layout__front-icon {
    width: 30px;
    height: 33px;
    float: left;
}

.menu-layout__content {
    float: right;
    display: flex;
    gap: 30px;
}